@import ".././variables.scss";

* {
  user-select: none;
}

.detailsColumn {
  background-color: $lilac;
  color: $navy;
  padding-top: 6em;
  width: 50%;
}

.selectedCocktailContainer,
.shoppingListContainer {
  padding-left: 15%;
  padding-right: 15%;
}

.selectedCocktailHeader,
.shoppingListHeader {
  font-size: 2em;
}

.ingredientsHeader,
.instructionsHeader,
.shoppingListCocktailsHeader,
.shoppingListIngredientsHeader {
  margin-bottom: 0.5em;
}

.shoppingListCocktailsHeader {
  margin-top: 2.5em;
}

.ingredientsContainer,
.cocktailsInShoppingList {
  margin-bottom: 1.5em;
}

.cocktailsInShoppingList {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1em;
}

.ingredientTableRow {
  line-height: 1.2em;
  font-size: 1.1em;
}

.ingredientNameData {
  width: 11em;
}

.instructionsList li {
  font-size: 1.1em;
  margin-left: -1.3em;
}

.servingsForm {
  margin-top: 4.6em;
  margin-bottom: 1.5em;
}

.servingsInput {
  font-size: 1.1em;
  background-color: $lilac;
  border: none;
  border-bottom: $darkLilac 1px solid;
  color: $navy;
  padding-bottom: 0.3em;
  margin-right: 1em;
}

.servingsSubmitButton,
.clearShoppingListButton {
  background-color: $darkLilac;
  border: none;
  color: $navy;
  font-size: 1.1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  box-shadow: 0.05em 0.05em 0.2em $darkLilac;
  cursor: pointer;
  transition: transform 5ms;
  &:hover {
    transform: scale(1.04);
  }
}

.servingsSubmitButton {
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  border-top-right-radius: 0.1em;
  margin-left: 0.5em;
}

.clearShoppingListButton {
  margin-top: 4.5em;
  border-top-left-radius: 0.1em;
}

.noCocktailSelectedText,
.shoppingListEmptyText {
  font-size: 1.1em;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10.5em;
}
