@import ".././variables.scss";

* {
  margin: 0;
  user-select: none;
}

.cocktailsColumn {
  display: flex;
  flex-direction: column;
  background-color: $navy;
  width: 30%;
}

.NavBarContainer {
  @include columnHeaderPadding;
}

.navHeaderUnselected {
  font-size: 2em;
  padding-left: 0.5em;
  color: $darkLilac;
  padding-bottom: 0.1em;
  cursor: pointer;
  padding-top: 0.05em;
}

.navHeaderUnselected:hover,
.cocktailListItemUnselected:hover {
  background-color: $lightNavy;
  border-radius: 0.1em;
}

.navHeaderSelected {
  font-size: 2.05em;
  color: $lilac;
  padding-bottom: 0.1em;
  cursor: default;
  padding-left: 0.5em;
  padding-top: 0.05em;
}

.searchInput {
  margin-left: 10%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 80%;
  background-color: $navy;
  border: none;
  border-bottom: $lilac 1px solid;
  color: $lilac;
  font-size: 1.1em;
}

.cocktailList {
  line-height: 1.8em;
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;
  height: 480px;
  @include columnPadding;
}

.cocktailListItem {
  padding-left: 1em;
  color: $darkLilac;
  cursor: pointer;
  font-size: 1.1em;
}

.cocktailListItemSelected {
  cursor: default;
  color: $lilac;
  font-size: 1.15em;
  margin-top: -0.06em;
}

.prevNextButtonContainer {
  @include columnPadding;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
}

.prevNextButtonContainer button {
  background-color: $navy;
  border: $lightNavy 1px solid;
  border-radius: 0.1em;
  color: $lilac;
  font-size: 1.1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 50%;
  box-shadow: 0.03em 0.03em 0.05em $lightNavy;
  transition: transform 5ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.04);
  }
  &:disabled {
    border-color: gray 1px solid;
    box-shadow: none;
    color: $lightNavy;
    cursor: mouse;
    &:hover {
      transform: none;
    }
  }
}
