@import ".././variables.scss";

* {
  margin: 0;
  user-select: none;
}

.cocktailsColumn {
  display: flex;
  flex-direction: column;
  background-color: $navy;
  width: 30%;
}

.NavBarContainer {
  @include columnHeaderPadding;
}

.NavBarContainer h2 {
  font-size: 2em;
  color: $lilac;
  padding-bottom: 8px;
  cursor: pointer;
}

.searchInput {
  margin-left: 10%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 80%;
  background-color: $navy;
  border: none;
  border-bottom: $lilac 1px solid;
  color: $lilac;
  font-size: 1.1em;
}

.searchInput ::placeholder {
  color: $lilac;
}

.cocktailList {
  color: $lilac;
  font-size: 1.1em;
  line-height: 1.8em;
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;
  @include columnPadding;
}

.cocktailListItem {
  cursor: pointer;
}

.prevNextButtonContainer {
  @include columnPadding;
  margin-bottom: 2em;
}

.prevNextButtonContainer button {
  background-color: $navy;
  border: $lightNavy 1px solid;
  border-radius: 0.1em;
  color: $lilac;
  font-size: 1.1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 50%;
  box-shadow: 0.03em 0.03em 0.05em $lightNavy;
  cursor: pointer;
}
