@import ".././variables";

.searchInput {
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;
  background-color: $navy;
  border: none;
  border-bottom: $lilac 1px solid;
  color: $lilac;
  font-size: 18px;
}
