@import url("https://fonts.googleapis.com/css?family=Comfortaa|Hind+Madurai|Monoton|News+Cycle|Open+Sans|Roboto|Slabo+27px|Nova+Mono");

$orange: #ef473a;
$yellow: #fff669;
$navy: #12182d;
$lilac: #f7eafb;

$headerFont: "Monoton";
$sansFont: "Hind Madurai";
