@import url("https://fonts.googleapis.com/css?family=Comfortaa|Hind+Madurai|Monoton|News+Cycle|Open+Sans|Roboto|Slabo+27px|Nova+Mono");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Exo|Orbitron|Passion+One|Rajdhani:600|Righteous|Roboto+Mono|Source+Code+Pro|Teko|Titillium+Web|Viga|ZCOOL+QingKe+HuangYou");

$orange: #ef473a;
$yellow: #d5c285;
$navy: #0e1122;
$lilac: #f7eafb;
$pink: #420c29;
$mauve: #a494af;
$darkLilac: #cab6de;
$lightNavy: #292d40;
$beige: #c88c7c;
$darkerLilac: #b093cc;
$lime: #c7c84f;

$headerFont: "Righteous";
$sansFont: "Titillium Web";

h1,
h2,
h3 {
  font-family: $headerFont;
}

h2 {
  letter-spacing: 1px;
  word-spacing: 2px;
}

p,
button,
input,
ul,
li,
tbody,
tr,
td {
  font-family: $sansFont;
}

input:focus,
button:focus {
  outline: none;
}

@mixin columnHeaderPadding {
  padding-top: 3em;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

@mixin columnPadding {
  margin-left: 4.5%;
  margin-right: 4.5%;
}
